:root {
    --Psage: #86BCBD;
    --Prust: #F2691C;
    --Pdrab: #470249;
    --Sice: #FEF9FE;
    --Sfossil: #C9D2D4;
    --Ssand: #B9B0A1;
}

.logo {
    position: auto;
    margin-top: 15px;
    margin-left: 120px;
}

body {
    background-color: var(--Sice);
}

.navbar {
    background-color: var(--Sice);
}

.navbar-brand {
    margin: auto;
    color: var(--Pdrab);
}



#saved-items {
    border: 10px solid var(--Pdrab);
    border-radius: 10px 10px 10px 10px;
}




.col {
    display: flex;
    justify-content: center;
}

.row1 {
    border: 10px solid var(--Pdrab);
    border-radius: 10px 10px 10px 10px;
}

.btn {
    background-color: var(--Prust);
    color: var(--Sice);
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    margin-bottom: 30px;
    background-color: var(--Sice);
}


/* basic styling to check the themes changed */
/* --------------------------------------- */
.dark-theme {
    background-color: #470249;
    /* changed color to black to see text */
    color: #FEF9FE;
}

.dark-theme.btn {
    background-color: var(--Prust);
    color: var(--Pdrab);
    margin-top: 10px;
    margin-bottom: 10px;
}

h4.dark-theme {
    color: var(--Pdrab);
}

.light-theme {
    background-color: white;
    color: #470249;
}

.light-theme.btn {
    background-color: var(--Prust);
    color: var(--Pdrab);
    margin-top: 10px;
    margin-bottom: 10px;
}
/* --------------------------------------- */

