:root {
    --Psage: #86BCBD;
    --Prust: #D97E54;
    --Pdrab: #314755;
    --Sice: #F0F3F4;
    --Sfossil: #C9D2D4;
    --Ssand: #B9B0A1;
}

body {
    background-color: var(--Sice);
}

.navbar {
    background-color: var(--Sice);
}

.navbar-brand {
    margin: auto;
    color: var(--Pdrab);
}



#saved-items {
    border: 10px solid var(--Pdrab);
    border-radius: 10px 10px 10px 10px;
}




.col {
    display: flex;
    justify-content: center;
}

.row1 {
    border: 10px solid var(--Pdrab);
    border-radius: 10px 10px 10px 10px;
}

.btn {
    background-color: var(--Prust);
    color: var(--Sice);
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    margin-bottom: 20px;
    background-color: var(--Sice);
}


/* basic styling to check the themes changed */
/* --------------------------------------- */
.dark-theme {
    background-color: black;
    color: white;
}

.dark-theme.btn {
    background-color: var(--Pdrab);
    color: black;
}

h4.dark-theme {
    color: var(--Pdrab);
}

.light-theme {
    background-color: white;
    color: black;
}

.light-theme.btn {
    background-color: black;
    color: white;
}
/* --------------------------------------- */

