:root {
    --Psage: #86BCBD;
    --Prust: #D97E54;
    --Pdrab: #314755;
    --Sice: #F0F3F4;
    --Sfossil: #C9D2D4;
    --Ssand: #B9B0A1;
}

body {
    background-color: var(--Sice);
}

.navbar {
    background-color: var(--Sice);
}

.navbar-brand {
    margin: auto;
    color: var(--Pdrab);
}

.question-mark {
    background-image: url(./images/questionmark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 380px;
    height: 570px;
}

.movie {
    width: 380px;
    height: 570px;
    background-image: url(./images/gotg.jpeg);
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
}

.hide {
    display: none;
}



.col {
    display: flex;
    justify-content: center;
}

.row1 {
    border: 10px solid var(--Pdrab);
    border-radius: 10px 10px 10px 10px;
}

.btn {
    background-color: var(--Prust);
    color: var(--Sice);
    margin-top: 20px;
}

.container {
    margin-bottom: 20px;
    background-color: var(--Sice);
}

.row1 {
    height: 570px;
}



.text {
    background: rgb(0,0,0,0.7);
    width: 100%;
    padding: 20px 40px;
    color: white;
}

.text p {
    color: rgba(255,255, 255,0.7);
    font-family: Arial;
}

.text h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
